@import "../../styles/colors";

.cart-items {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  max-height: 450px;
  padding: 0.5rem;
  overflow-y: auto;
  box-shadow: inset 0 0 15px 1px rgba($color-black, $alpha: 0.1);
  scrollbar-color: #F5F5F5;
  scrollbar-width: thin;
  &::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #F5F5F5;
  }
  &::-webkit-scrollbar {
    width: 5px;
  }
  &::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, $color-white, $color-black, $color-white);
  }
  .cart-item {
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 0 3px 1px rgba($color-black, $alpha: 0.1);
    .cart-product-info {
      width: 80%;
      display: flex;
      column-gap: 20px;
      .cart-image {
        width: 100px;
        height: 110px;
        img {
          max-width: 100%;
          height: 100%;
        }
      }
      @media screen and (max-width: 400px) {
        width: 100%;
        flex-direction: column;
        align-items: center;
      }
      .cart-product-title {
        width: calc(100% - 120px);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        & > p {
          font-size: 1rem;
          font-weight: bold;
          color: #666;
        }
        & > span {
          font-size: 1.1rem;
          font-weight: bold;
          color: $color-text;
        }
        @media screen and (max-width: 400px) {
          width: 100%;
        }
      }
    }
    .cart-product-counter {
      display: flex;
      flex-direction: column;
      align-items: center;
      row-gap: 25px;
      & > p {
        font-size: 1rem;
        font-weight: bold;
      }
      & > div {
        display: flex;
        align-items: center;
        column-gap: 10px;
        & > button {
          font-size: 1.1rem;
          background-color: $color-button;
          width: 25px;
          color: $color-white;
          border-radius: 2px;
        }
      }
    }
    @media screen and (max-width: 400px) {
      height: auto;
      flex-direction: column;
    }
  }
}
.cart-info {
  padding: 0.5rem 0;
  margin-top: 1.5rem;
  & > p {
    font-size: 1.1rem;
    font-weight: bold;
    & > span {
      color: $color-text;
    }
  }
}
