@import "../../styles/colors";

.products {
  margin-top: 3rem;
  .product-items {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px 10px;
    .product-item {
      width: 200px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      border-radius: 10px;
      padding: 0.5rem 0.6rem;
      border-bottom: 2px solid transparent;
      box-shadow: 0 0 5px 1px rgba($color-black, $alpha: 0.1);
      transition: 0.2s ease-in;
      &:hover {
        border-bottom-color: $color-text;
        transform: scale(1.03) translateY(-3%);
      }
      a {
        width: 70%;
        height: 190px;
        img {
          width: 100%;
          height: 100%;
        }
        @media screen and (max-width: 400px) {
          width: 50%;
          max-height: 220px;
        }
      }
      .product-info {
        text-align: left;
        margin-top: 1.2rem;
        a {
          color: $color-black;
        }
        div {
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-top: 1rem;
          .product-price {
            color: $color-text;
            font-weight: bold;
          }
          .add-cart {
            border: 1px solid $color-button;
            background-color: $color-white;
            border-radius: 5px;
            padding: 0.2rem 0.6rem;
            color: $color-button;
            transition: .3s ease-in;
            &:hover {
              background-color: $color-button;
              color: $color-white;
            }
          }
        }
      }
      @media screen and (max-width: 400px) {
        width: 80%;
      }
    }
  }
  @media screen and (max-width: 576px) {
    margin-top: 5rem;
  }
}
